@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #1f242d;
    color: #fff;
    
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size:25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.home{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content{
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:.7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s; 
}

.home-content h3 span {
    color: #0ef ;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s; 
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s; 
}

.home-img img{
max-width: 450px;
margin-right: 20px;
opacity: 0;
animation: slideIn 1s ease forwards,floatImage 4s ease-in-out infinite;
animation-delay:.2s, 3s;
}
.home-img2 img{
    max-width: 450px;
    margin-right: 20px;
    opacity: 0;
    animation: slideIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay:.2s, 3s;
    }
.about{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}
.about-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s; 
}
.about-content h1 span{
    color: #0ef;
}
.about-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slidRight 1s ease forwards;
    animation-delay: .7s,; 
}
.about-content p{
    margin: 5px 3px 51px 0px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s,; 
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
}




/* Keyframes for the slideRight animation */ 
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform:scale(0);
        opacity: 0;
    }
    100% {
        transform:scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-24px);
    }
    100%{
        transform:translateY(0);
    }

}

.services-section {
    text-align: center;
    padding: 50px 0;
    margin-top: 130px;

    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
}

.services-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.services-section h2 span {
    color: #00e7ff;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.service-box {
    background-color: #4e899c1f;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 40px;
    box-shadow: 0 0 5px #0ef;
    text-align: center;
    transition: transform 0.3s;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box .icon {
    font-size: 40px;
    margin-bottom: 20px;
    color: #00e7ff;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.service-box p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}

.read-more-btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
}

.read-more-btn:hover {
    background-color: #00b0cc;
}



.projects-section {
    text-align: center;
    margin-top: 80px;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
}

.projects-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.projects-section h2 span {
    color: #00e7ff;
}

.projects-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.project-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project-box img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0b406b9a;
    padding: 10px;
    color: #fff;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-box:hover .project-info {
    opacity: 1;
}

.project-info h3 {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.project-info p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 14px;
    color: #ccc;
}
.project-box img {
    width: 300px;          
    height: 200px;        
    object-fit: cover;     
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.contact-container {
    margin-top: 60px;
    text-align: center;
    padding: 50px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:.2s;
}

.contact-container h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.contact-container h1 span {
    color: #00ffff;
}

form {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4659654a;
    color: #ffffff;
}

form textarea {
    height: 150px;
    resize: none;
}

form button {
    margin-top: 20px;
    margin-left: 202px;
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600px;}

form button:hover {
    background-color: #00cccc;
}